.y-zoom-in-center-enter-active,
.y-zoom-in-center-leave-active {
  transition: all 0.3s cubic-bezier(0.55, 0, 0.1, 1);
}
.y-zoom-in-center-enter,
.y-zoom-in-center-leave-active {
  opacity: 0;
  transform: scaleX(0);
}

.y-zoom-in-top-enter-active,
.y-zoom-in-top-leave-active {
  opacity: 1;
  transition: $--md-fade-transition;
  transform-origin: center top;
  transform: scaleY(1);
}
.y-zoom-in-top-enter,
.y-zoom-in-top-leave-to {
  opacity: 0;
  transform: scaleY(0);
}

.y-fade-in-linear-enter-active,
.y-fade-in-linear-leave-active {
  transition: $--fade-linear-transition;
}
.y-fade-in-linear-enter,
.y-fade-in-linear-leave,
.y-fade-in-linear-leave-active {
  opacity: 0;
}
