/* Element Chalk Variables */

/* Color
-------------------------- */
$--color-black: #000000 !default;
$--color-white: #fff !default;
$--color-primary: #409eff !default;
$--color-primary-light-1: mix($--color-white, $--color-primary, 10%) !default; /* 53a8ff */
$--color-primary-light-2: mix($--color-white, $--color-primary, 20%) !default; /* 66b1ff */
$--color-primary-light-3: mix($--color-white, $--color-primary, 30%) !default; /* 79bbff */
$--color-primary-light-4: mix($--color-white, $--color-primary, 40%) !default; /* 8cc5ff */
$--color-primary-light-5: mix($--color-white, $--color-primary, 50%) !default; /* a0cfff */
$--color-primary-light-6: mix($--color-white, $--color-primary, 60%) !default; /* b3d8ff */
$--color-primary-light-7: mix($--color-white, $--color-primary, 70%) !default; /* c6e2ff */
$--color-primary-light-8: mix($--color-white, $--color-primary, 80%) !default; /* d9ecff */
$--color-primary-light-9: mix($--color-white, $--color-primary, 90%) !default; /* ecf5ff */
$--color-success: #67c23a !default;
$--color-warning: #e6a23c !default;
$--color-danger: #f56c6c !default;
$--color-info: #909399 !default;
$--color-text-regular: #606266 !default;
$--color-text-secondary: #909399 !default;
$--color-text-placeholder: #c0c4cc !default;

/* Background
-------------------------- */
$--background-color-base: #f5f7fa !default;

/* Font
-------------------------- */
$--font-path: './fonts' !default;
$--font-display: 'auto' !default;
$--font-weight-primary: 500 !default;
$--font-size-base: 14px !default;
$--font-color-base: $--color-text-regular !default;

/* Border
-------------------------- */
$--border-radius-base: 4px !default;
$--border-style-base: solid !default;
$--border-width-base: 1px !default;
$--border-color-base: #dcdfe6 !default;
$--border-color-hover: #c0c4cc !default;
$--border-color-light: #e4e7ed !default;
$--border-color-lighter: #ebeef5 !default;
$--border-color-focus: $--color-primary !default;
$--border-base: $--border-width-base $--border-style-base $--border-color-base !default;
$--border-transition-base: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1) !default;

/* Disable color
-------------------------- */
$--disabled-background-color-base: $--background-color-base !default;
$--disabled-font-color-base: $--color-text-placeholder !default;
$--disabled-border-color-base: $--border-color-light !default;

/* Transition
-------------------------- */
$--md-fade-transition: transform 300ms cubic-bezier(0.23, 1, 0.32, 1), opacity 300ms cubic-bezier(0.23, 1, 0.32, 1) !default;
$--color-transition-base: color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1) !default;

/* Input
-------------------------- */
$--button-border-radius: $--border-radius-base !default;
$--button-border-radius-medium: $--border-radius-base !default;
$--button-border-radius-small: #{$--border-radius-base - 1} !default;
$--button-border-radius-mini: #{$--border-radius-base - 1} !default;
$--button-default-border-color: $--border-color-base !default;
$--button-primary-border-color: $--color-primary !default;
$--button-success-border-color: $--color-success !default;
$--button-warning-border-color: $--color-warning !default;
$--button-danger-border-color: $--color-danger !default;
$--button-info-border-color: $--color-info !default;
$--button-disabled-border-color: $--border-color-lighter !default;
$--button-padding-vertical: 12px !default;
$--button-padding-vertical-medium: 10px !default;
$--button-padding-vertical-small: 9px !default;
$--button-padding-vertical-mini: 7px !default;
$--button-padding-horizontal: 20px !default;
$--button-padding-horizontal-medium: 20px !default;
$--button-padding-horizontal-small: 15px !default;
$--button-padding-horizontal-mini: 15px !default;
$--button-font-weight: $--font-weight-primary !default;
$--button-font-size: $--font-size-base !default;
$--button-font-size-medium: $--font-size-base !default;
$--button-font-size-small: 12px !default;
$--button-font-size-mini: 12px !default;
$--button-default-background-color: $--color-white !default;
$--button-primary-background-color: $--color-primary !default;
$--button-success-background-color: $--color-success !default;
$--button-warning-background-color: $--color-warning !default;
$--button-danger-background-color: $--color-danger !default;
$--button-info-background-color: $--color-info !default;
$--button-disabled-background-color: $--color-white !default;
$--button-default-font-color: $--color-text-regular !default;
$--button-primary-font-color: $--color-white !default;
$--button-success-font-color: $--color-white !default;
$--button-warning-font-color: $--color-white !default;
$--button-danger-font-color: $--color-white !default;
$--button-info-font-color: $--color-white !default;
$--button-disabled-font-color: $--color-text-placeholder !default;
$--button-hover-tint-percent: 20% !default;
$--button-active-shade-percent: 10% !default;

/* Input
-------------------------- */
$--input-border-radius: $--border-radius-base !default;
$--input-border: $--border-base !default;
$--input-height: 40px !default;
$--input-height-medium: 36px !default;
$--input-height-small: 32px !default;
$--input-height-mini: 28px !default;
$--input-font-size: $--font-size-base !default;
$--input-font-size-medium: 14px !default;
$--input-font-size-small: 13px !default;
$--input-font-size-mini: 12px !default;
$--input-border-color-hover: $--border-color-hover !default;
$--input-border-color-focus: $--border-color-focus !default;
$--input-border-color-disabled: $--disabled-border-color-base !default;
$--input-background-color: $--color-white !default;
$--input-background-color-disabled: $--disabled-background-color-base !default;
$--input-font-color: $--font-color-base !default;
$--input-font-color-disabled: $--disabled-font-color-base !default;
$--input-placeholder-color: $--color-text-placeholder !default;
$--input-icon-color: $--color-text-placeholder !default;
$--input-clear-hover-color: $--color-text-secondary !default;

/* Form
-------------------------- */
$--form-label-font-size: $--font-size-base !default;

/* Break-point
--------------------------*/
$--sm: 768px !default;
$--md: 992px !default;
$--lg: 1200px !default;
$--xl: 1920px !default;

$--breakpoints: (
  'xs': (
    max-width: $--sm - 1
  ),
  'sm': (
    min-width: $--sm
  ),
  'md': (
    min-width: $--md
  ),
  'lg': (
    min-width: $--lg
  ),
  'xl': (
    min-width: $--xl
  )
);

$--breakpoints-spec: (
  'xs-only': (
    max-width: $--sm - 1
  ),
  'sm-and-up': (
    min-width: $--sm
  ),
  'sm-only': '(min-width: #{$--sm}) and (max-width: #{$--md - 1})',
  'sm-and-down': (
    max-width: $--md - 1
  ),
  'md-and-up': (
    min-width: $--md
  ),
  'md-only': '(min-width: #{$--md}) and (max-width: #{$--lg - 1})',
  'md-and-down': (
    max-width: $--lg - 1
  ),
  'lg-and-up': (
    min-width: $--lg
  ),
  'lg-only': '(min-width: #{$--lg}) and (max-width: #{$--xl - 1})',
  'lg-and-down': (
    max-width: $--xl - 1
  ),
  'xl-only': (
    min-width: $--xl
  )
);
