@include b(cascader) {
  position: relative;
  display: inline-block;
  line-height: $--input-height;
  font-size: $--font-size-base;
  &:not(.is-disabled):hover {
    .y-input__inner {
      border-color: $--input-border-color-hover;
      cursor: pointer;
    }
  }
  .y-input {
    cursor: pointer;
    .y-input__inner {
      text-overflow: ellipsis;
      &:focus {
        border-color: $--input-border-color-focus;
      }
    }
    .y-icon-arrow-down {
      transition: transform 0.3s;
      font-size: 14px;
      @include when(reverse) {
        transform: rotateZ(180deg);
      }
    }
    .y-icon-circle-close:hover {
      color: $--input-clear-hover-color;
    }
    @include when(focus) {
      .y-input__inner {
        border-color: $--input-border-color-focus;
      }
    }
  }
  @include m(medium) {
    line-height: $--input-height-medium;
    font-size: $--input-font-size-medium;
  }
  @include m(small) {
    line-height: $--input-height-small;
    font-size: $--input-font-size-small;
  }
  @include m(mini) {
    line-height: $--input-height-mini;
    font-size: $--input-font-size-mini;
  }
  @include when(disabled) {
    .y-cascader__label {
      z-index: #{$--index-normal + 1};
      color: $--disabled-font-color-base;
    }
  }
  @include e(dropdown) {
    margin: 5px 0;
    border: $--cascader-menu-border;
    border-radius: $--cascader-menu-radius;
    font-size: $--cascader-menu-font-size;
    background: $--cascader-menu-fill;
    box-shadow: $--cascader-menu-shadow;
  }
  @include e(tags) {
    position: absolute;
    left: 0;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    display: flex;
    flex-wrap: wrap;
    line-height: normal;
    text-align: left;
    box-sizing: border-box;
    .y-tag {
      display: inline-flex;
      align-items: center;
      max-width: 100%;
      margin: 2px 0 2px 6px;
      text-overflow: ellipsis;
      background: $--cascader-tag-background;
      &:not(.is-hit) {
        border-color: transparent;
      }
      > span {
        flex: 1;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .y-icon-close {
        flex: none;
        background-color: $--color-text-placeholder;
        color: $--color-white;
        &:hover {
          background-color: $--color-text-secondary;
        }
      }
    }
  }
  @include e(suggestion-panel) {
    border-radius: $--cascader-menu-radius;
  }
  @include e(suggestion-list) {
    max-height: 204px;
    margin: 0;
    padding: 6px 0;
    text-align: center;
    font-size: $--font-size-base;
    color: $--cascader-menu-font-color;
  }
  @include e(suggestion-item) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    height: 34px;
    text-align: left;
    outline: none;
    cursor: pointer;
    &:hover,
    &:focus {
      background: $--cascader-node-background-hover;
    }
    &.is-checked {
      font-weight: bold;
      color: $--cascader-menu-selected-font-color;
    }
    > span {
      margin-right: 10px;
    }
  }
  @include e(empty-text) {
    margin: 10px 0;
    color: $--cascader-color-empty;
  }
  @include e(search-input) {
    flex: 1;
    margin: 2px 0 2px 15px;
    padding: 0;
    min-width: 60px;
    border: none;
    outline: none;
    box-sizing: border-box;
    height: 24px;
    color: $--cascader-menu-font-color;
    &::placeholder {
      color: $--color-text-placeholder;
    }
  }
}
