@import "./variables";
@import "./mixins";

@include b(progress) {
  position: relative;
  line-height: 1;
  @include e(text) {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    line-height: 1;
    font-size: 14px;
    color: $--color-text-regular;
    i {
      display: block;
      vertical-align: middle;
    }
  }
  @include m((circle, dashboard)) {
    display: inline-block;
    .y-progress__text {
      position: absolute;
      top: 50%;
      left: 0;
      margin: 0;
      width: 100%;
      text-align: center;
      transform: translate(0, -50%);
      i {
        display: inline-block;
        vertical-align: middle;
      }
    }
  }
  @include m(without-text) {
    .y-progress__text {
      display: none;
    }
    .y-progress-bar {
      display: block;
      padding-right: 0;
      margin-right: 0;
    }
  }
  @include m(text-inside) {
    .y-progress-bar {
      margin-right: 0;
      padding-right: 0;
    }
  }
  @include when(success) {
    .y-progress-bar__inner {
      background-color: $--color-success;
    }
    .y-progress__text {
      color: $--color-success;
    }
  }
  @include when(warning) {
    .y-progress-bar__inner {
      background-color: $--color-warning;
    }
    .y-progress__text {
      color: $--color-warning;
    }
  }
  @include when(exception) {
    .y-progress-bar__inner {
      background-color: $--color-danger;
    }
    .y-progress__text {
      color: $--color-danger;
    }
  }
}
@include b(progress-bar) {
  display: inline-block;
  vertical-align: middle;
  margin-right: -55px;
  padding-right: 50px;
  width: 100%;
  box-sizing: border-box;
  @include e(outer) {
    position: relative;
    vertical-align: middle;
    border-radius: 100px;
    height: 6px;
    background-color: $--border-color-lighter;
    overflow: hidden;
  }
  @include e(inner) {
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 100px;
    height: 100%;
    line-height: 1;
    text-align: right;
    background-color: $--color-primary;
    white-space: nowrap;
    transition: width 0.6s ease;
    @include utils-vertical-center;
  }
  @include e(innerText) {
    display: inline-block;
    vertical-align: middle;
    margin: 0 5px;
    font-size: 12px;
    color: $--color-white;
  }
}
@keyframes progress {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 32px 0;
  }
}
